@use "../utils/variables";
@use "../utils/mixins";



.about-us__heading {
    color: variables.$white;
    font-size: 96px;
    font-weight: 400;
    margin-top: -23px;
    padding-top: 247px;
    text-align: right;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: minmax(auto, 917px);
    grid-template-rows: minmax(213px, auto);
    padding-left: 80px;
    padding-bottom: 50px;
}


@media screen and (max-width: 768px) {

    .about-us__heading {
        color: variables.$white;
        font-size: 80px;
        font-weight: 400;
        margin-top: -23px;
        padding-top: 247px;
        text-align: right;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: minmax(auto, 917px);
        grid-template-rows: minmax(213px, auto);
        padding-left: 80px;
        padding-bottom: 50px;
    }
    
    
}

@media screen and (max-width: 576px) {

    .about-us__heading {
        color: variables.$white;
        font-size: 40px;
        font-weight: 400;
        margin-top: -23px;
        padding-top: 147px;
        text-align: right;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: minmax(auto, 917px);
        grid-template-rows: minmax(213px, auto);
        justify-items: center;
    }
    
    
}