@use "../utils/variables";
@use "../utils/mixins";

.about {
    background-color: variables.$green;

    &__wrapper {
        @include mixins.wrapper;
        display: flex;
        justify-content: space-between;
        min-height: 500px;
    }

    &__information-wrapper {
        display: grid;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        grid-auto-flow: dense;
        padding: 15px;
    }

    &__title {
        color: variables.$white;
        font-size: 40px;
        font-weight: 400;
        padding-top: 80px;
    }

    &__information {
        color: variables.$white;
        font-size: 18px;
    }

    &__picture {
        padding: 15px;
    }

    &__btn {
        text-decoration: none;
        border: 2px solid variables.$dark-gray;
        text-align: center;
        padding-top: 23px;
        border-radius: 30px;
        width: 200px;
        height: 45px;
        justify-self: right;
        color: black;
        border-radius: 5px;

        &:hover {
            background-color: variables.$white-for-hover;
            border: none;
            color: variables.$dark-gray;
        }
    }

}

@media screen and (max-width: 992px) {
    .about {
        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__picture {
            display: grid;
            grid-template-columns: minmax(auto, 990px);
            grid-auto-rows: auto;
            justify-items: center;
        }

        &__title {
            color: variables.$white;
            font-size: 50px;
            font-weight: 400;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
        }

        &__information {
            color: variables.$white;
            font-size: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__btn {
            text-decoration: none;
            border: 2px solid variables.$dark-gray;
            text-align: center;
            padding-top: 23px;
            border-radius: 30px;
            min-height: 45px;
            justify-self: right;
            color: variables.$dark-gray;
            border-radius: 5px;
    
            &:hover {
                background-color: variables.$white-for-hover;
                border: none;
                color: variables.$dark-gray;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        &__picture {
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .about {
        &__btn {
            margin: 0 auto;
        }
    }
}