@use "../utils/variables";
@use "../utils/mixins";

.advantages__heading-wrapper {
    display: block;
    margin-top: 90px;
    margin-left: 75px;
    margin-right: 75px;
    border: 2px solid variables.$black;
}

.advantages__heading {
    font-size: 48px;
    font-weight: 400;
    color: variables.$white;
    padding-top: 58px;
    text-transform: uppercase;
    text-align: center;
}

.advantages__heading-text {
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    width: 768px;
    min-height: 90px;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    color: variables.$black;
}

@media screen and (max-width: 992px) {

    .advantages__heading-wrapper {
        margin-top: 90px;
        border: none;
    }

    .advantages__heading {
        font-size: 42px;
        font-weight: 500;
        color: variables.$white;
        padding-top: 60px;
        text-transform: uppercase;
        text-align: center;
    }

    .advantages__heading-text {
        font-size: 30px;
        font-weight: 400;
        line-height: 42px;
        width: 520px;
        min-height: 90px;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
        margin: 0 auto;
        color: variables.$black;
    }
    
}

@media screen and (max-width: 576px) {
    
    .advantages__heading-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        width: 200px;
        min-height: 90px;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
        margin: 0 auto;
        color: variables.$black;
    }

    .advantages__heading {
        display: block;
        margin: 0 auto;
        font-size: 25px;
        font-weight: 400;
        color: variables.$white;
        padding-top: 58px;
        width: 200px;
        min-height: 100px;
        text-transform: uppercase;
        text-align: center;
    }


}