@use "../utils/variables";
@use "../utils/mixins";
@use "sass:color";

.advantage {
    display: flex;
    justify-content: space-around;
    
    &__list {
        list-style: none;
        border-left:2px solid variables.$dark-gray;
        padding-left: 15px;
    }

    &__heading {
        font-size: 24px;
        font-weight: 600;
        color: variables.$white;
    }

    &__text {
        color: black;
        font-weight: 400;
    }
}

@media screen and (max-width: 576px) {
    .advantage {
        display: flex;
        flex-direction: column;

        &__list {
            list-style: none;
            border-left: none;
            border-top:2px solid variables.$dark-gray;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
        }
    }
}