@use "../utils/variables";
@use "../utils/mixins";

.authentication {
    @include mixins.wrapper;
    background-color: variables.$dark-gray;
    min-height: 700px;

    &__heading {
        padding-top: 100px;
        color: variables.$white;
        text-transform: uppercase;
        text-align: center;
    }

    &__back-link {
        color: variables.$white;
        font-size: 15px;
        font-weight: 200;
        text-decoration: none;
        margin-top: 20px;
        margin-left: 30px;

        &:hover {
            color: variables.$white-for-hover;
        }
    }

    &__form-wrapper {
        display: block;
        width: 700px;
        min-height: 400px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: variables.$green;
        border-radius: 15px;
    }

    &__form {
        display: grid;
        grid-template-columns: minmax(auto, 600px);
        grid-auto-rows: auto;
        justify-content: center;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    &__form-label {
        color: variables.$white;
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
    }


    &__form-control :invalid {
        border: 2px solid red;
    }

    &__btn {
        background-color: variables.$dark-gray;
        border: none;
        border-radius: 5px;
        color: variables.$white;
        display: grid;
        grid-template-columns: minmax(auto, 700px);
        grid-template-rows: minmax(40px, auto);
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        text-transform: uppercase;
        padding-top: 10px;
    }

    &__logo {
        display: block;
        width: 100px;
        height: 130px;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__registration {
        color: variables.$white;
        font-size: 18px;
        font-weight: 200;
        line-height: 33px;
    }

    &__registration-link {
        color: variables.$dark-gray;
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        text-decoration: none;

        &:hover {
            color: variables.$white;
        }
    }

}

@media screen and (max-width: 768px) {

    .authentication {
        &__form-wrapper {
            display: block;
            width: 500px;
            min-height: 400px;
            margin: 0 auto;
            margin-top: 50px;
            background-color: variables.$green;
            border-radius: 15px;
        }

        &__form {
            margin: 10px;
            margin-top: 50px;
        }
    }
    
}

@media screen and (max-width: 576px) {

    .authentication {
        &__form-wrapper {
            display: block;
            width: 300px;
            min-height: 400px;
            margin: 0 auto;
            margin-top: 50px;
            background-color: variables.$green;
            border-radius: 15px;
        }

    }
    
}
