@use "../utils/variables";
@use "../utils/mixins";

.connection {
    background-color: variables.$dark-gray;

    &__wrapper {
        @include mixins.wrapper;
        display: flex;
        justify-content: space-around;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &__text {
        margin-top: 20px;
        color: variables.$white;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        display: grid;
        grid-template-columns: minmax(auto, 500px);
        grid-auto-rows: auto;
        grid-gap: 15px;
    }


    &__form {
        margin-top: 30px;
        display: grid;
        grid-template-rows: repeat(4, 40px);
        grid-template-columns: minmax(auto, 500px);
        grid-gap: 15px;
    }

    &__label {
        color: variables.$white;
    }

    &__btn {
        background-color: variables.$green;
        border: none;
        border-radius: 5px;
        color: variables.$white;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.45px;
    }

    &__socmedia {
        display: block;
        margin-top: 80px;
    }
}


@media screen and (max-width: 768px) {
    .connection {

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        

    }
}