@use "../utils/variables";
@use "../utils/mixins";

.cooperation {
    display: flex;
    justify-content: space-between;

    &__heading {
        font-size: 64px;
        font-weight: 400;
        color: variables.$dark-gray;
        margin-top: 50px;
        margin-left: 50px;
    }

    &__text {
        font-size: 21px;
        font-weight: 300;
        line-height: 31px;
        color: variables.$white;
        display: grid;
        grid-template-columns: minmax(auto, 590px);
        grid-template-rows: mimax(135px, auto);
        margin-top: 30px;
        margin-left: 50px;
    }

    &__item {
        margin-top: 64px;
        margin-left: 100px;
    }

    &__list {
        list-style: none;
        display: flex;
        margin-top: 10px;
    }

    &__list-reason {
        font-size: 20px;
        font-weight: 400;
        color: variables.$dark-gray;
        padding-top: 2px;
        margin-left: 7px;
    }

    &__img {

            margin-top: 200px;

            margin-bottom: 200px;
            width: 500px;
            height: 300px;
            border: 3px solid variables.$dark-gray;

    }

}

@media screen and (max-width: 992px) {

    .cooperation {
        flex-direction: column;

        &__img {
            display: block;
            margin: 0 auto;
            margin-top: 50px;

            margin-bottom: 200px;
            width: 500px;
            height: 300px;
            border: 3px solid variables.$dark-gray;

        }
    }
    
}

@media screen and (max-width: 568px) {
    .cooperation {
        &__heading {
            
            font-size: 38px;
            padding: 5px;
            font-weight: 400;
            color: variables.$dark-gray;
            margin-top: 50px;
        }

        &__img {
            display: block;
            margin: 0 auto;
            margin-top: 50px;

            margin-bottom: 100px;
            width: 300px;
            height: 200px;
            border: 3px solid variables.$dark-gray;

        }

        
    }
}