@use "../utils/variables";
@use "../utils/mixins";
@use "sass:color";

.features__heading {
    color: color.scale(variables.$green, $lightness:30%) ;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.features__item {
    margin-top: 10px;
    text-align: center;
}

.features__list {
    list-style: none;
    margin-top: 5px;
}

.features__link {
    text-decoration: none;
    color: variables.$white;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    &:hover {
        color: gray;
    }
}