@use "../utils/variables";
@use "../utils/mixins";

.footer {
    background-color: variables.$dark-gray;
    
}

.footer-wrapper {
    @include mixins.wrapper;
    min-height: 200px;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:576px) {
    .footer-wrapper {
        @include mixins.wrapper;
        min-height: 200px;
        padding-top: 80px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}