@use "../utils/mixins";
@use "../utils/variables";

.hamb {
    &__bar {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 3px;
        background-color: variables.$white;
        margin: 6px auto;
    }
}