@use "../utils/variables";
@use "../utils/mixins";


.header {
    @include mixins.wrapper;
    background-color: variables.$dark-gray;

    &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100px;
    }

    &__hamb-wrapper {
        display: none;
    }

    &__menu-disappear {
        display: none;
    }

}

@media screen and (max-width: 992px) {
    
    .header {
        &__hamb-wrapper {
            display: flex;
            align-items: center;
            padding: 10px;
            margin-right: 30px;
            cursor: pointer;
        }

        &__menu-disappear {
            position: fixed;
            top: 90px;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: variables.$dark-gray;
            z-index: 10;
            display: flex;
            transition: 0.3s;
        }
    }

    .header__menu-disappear.open {
        left: 0;
    }
    .header__item-popup {
        min-height: 400px;
        display: grid;
        grid-template-columns: 112px;
        grid-template-rows: repeat(autofit, minmax(45px, auto));
        grid-gap: 15px;
        justify-items: center;
    }
    .header__list-popup {
        list-style: none;
    }
    .header__link-popup {
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0.2px;
        color: variables.$white;
        text-align: center;

        &:hover {
            color: variables.$white-for-hover;
        }
    }
}

