.logo {
    &__img {
        width: 70px;
        height: 100px;
        margin-top: 10px;
    }

    &__link {
        margin-top: 10px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        &__link {
            margin-top: 10px;
            margin-left: 10px;
        }
    }
}