@use "../utils/variables";
@use "../utils/mixins";

.main__promo {
    background-color: variables.$green;
}

.main__service {
    background-color: variables.$dark-gray;
}

.main__wrapper {
    @include mixins.wrapper;
    background-color: variables.$green;
    min-height: 400px;
}

.main__about-us {
    @include mixins.wrapper;
    background-color: variables.$green;
    min-height: 400px;
    margin-top: -23px;
}

