@use '../utils/mixins';
@use '../utils/variables';

.main-catalog {
    @include mixins.wrapper;
    background-color: variables.$dark-gray;
    min-height: 500px;
    margin-top: -30px;

    &__header {
        color: variables.$white;
        font-size: 80px;
        font-weight: 400;
        margin-top: -30px;
        margin-left: 60px;
        padding-top: 50px;
    }

    &__flats-wrapper {
        display: block;
        width: 700px;
        min-height: 300px;
        margin: 0 auto;
        margin-top: 60px;
        border-radius: 10px;
        background-color: variables.$white;
        border: 3px solid variables.$green;
    }

    &__title {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 35px;
        font-weight: 400;
        line-height: 52px;
        color: variables.$green;
    }

    &__bold-text {
        font-weight: 600;
        color: variables.$dark-gray;
        font-size: 16px;
        line-height: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 30px;
    }

    &__list {
        margin-top: 10px;
        list-style: none;
    }

    &__data {
        color: variables.$green;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    &__add {
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 20px;
        padding: 4px;
        padding-top: 7px;
        text-decoration: none;
        width: 100px;
        min-height: 30px;
        text-align: center;
        font-size: 18px;
        color: variables.$white;
        background-color: variables.$green;
        border-radius: 7px;
    }

}


