@use "../utils/variables";

.menu-disappear {

    &__item {
        min-height: 400px;
        display: grid;
        grid-template-columns: 112px;
        grid-template-rows: repeat(autofit, minmax(45px, auto));
        grid-gap: 15px;
        justify-items: center;
        justify-content: center;
    }

    &__list {
        list-style: none;
    }

    &__username {
        color: variables.$white;
    }

    &__link {
        text-decoration: none;
        font-size: 25px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0.2px;
        color: variables.$white;
    }
}
