.menu-mobile {
    display: none;
}



@media screen and (max-width: 798px) {
    .menu-mobile {
        display: block;
    }
    .menu-mobile__items {
        display: flex;
    }
    
    .menu-mobile__list {
        list-style: none;
        margin-left: 24px;
    }

    .menu-mobile__logo {
        margin-top: 30px;
        margin-right: 30px;
        width: 40px;
        height: 40px;
    }
}

