@use "../utils/variables";
@use "../utils/mixins";

.mission {
    @include mixins.wrapper;
    background-color: variables.$dark-gray;
    margin-top: 80px;
    margin-bottom: 80px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;

    &__picture {
        margin-top: 80px;
        margin-left: 100px;
        width: 379px;
        height: 482px;
    }
}

@media screen and (max-width: 768px) {
    
    .mission {
        &__picture {
            display: none;
        }
    }

}