@use "../utils/variables";
@use "../utils/mixins";

.mission-description {
    margin-left: 30px;

    &__heading {
        font-size: 50px;
        font-weight: 400;
        line-height: 65px;
        color: variables.$green;
        text-transform: uppercase;
        text-align: center;
        margin-top: 80px;
    }

    &__text {
        font-size: 21px;
        font-weight: 400;
        line-height: 31px;
        color: variables.$white;
        display: grid;
        grid-template-columns: minmax(auto, 700px);
        grid-template-rows: mimax(265px, auto);
        grid-gap: 15px;
        margin-top: 50px;
    }

    &__link {
        display: grid;
        grid-template-columns: minmax(auto, 700px);
        grid-template-rows: minmax(45px, auto);
        margin-top: 20px;
        margin-bottom: 40px;
        margin-right: 20px;
        background-color: variables.$green;
        border-radius: 7px;
        text-decoration: none;
        color: variables.$white;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        line-height: 31px;
        text-align: center;
        padding-top: 18px;
    }

}