@use "../utils/variables";
@use "../utils/mixins";

.navigation {
    &__items {
        display: flex;
        margin-right: 44px;
    }

    &__list {
        list-style: none;
        margin-top: 40px;
        margin-left: 40px;
    }

    &__username {
        color: variables.$white;
    }

    &__link {
        text-decoration: none;
        color: variables.$white;
        text-transform: uppercase;
        
        &--enter {
            @extend .navigation__link;
            background-color: variables.$green;
            color: variables.$white;
            padding: 7px;
            border-radius: 5px;

        }

        &:hover {
            color: variables.$white-for-hover;
        }
    }
}

@media screen and (max-width: 992px) {
    .navigation {
        display: none;
    }
}