@use "../utils/variables";
@use "../utils/mixins";

.promo {
    margin-top: -22px;
    &__wrapper {
        @include mixins.wrapper;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        min-height: 700px;
    }

    &__title-wrapper {
        position: absolute;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    &__title {
        display: grid;
        grid-template-columns: minmax(auto, 1440px);
        grid-auto-rows: auto;
        justify-items: center;
        font-size: 70px;
        color: variables.$white;
        background-color: rgba(38, 38, 38, 0.45);
        z-index: 2;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        width: 200px;
        min-height: 50px;
        justify-self: right;
        text-align: center;
        border-radius: 5px;
        color: variables.$dark-gray;
        font-size: 20px;
        text-decoration: none;
        padding-top: 20px;
        background-color: variables.$white;
        z-index: 2;

        &:hover {
            background-color: variables.$dark-gray;
            color: variables.$white;
        }
    }

    &__img {
        position: relative;
        display: block;
        width: 508px;
        height: 600px;
    }
}


@media screen and (max-width: 800px) {

    .promo {

        &__wrapper {
            @include mixins.wrapper;
            display: flex;
            flex-direction: column;
            min-height: 700px;
        }

        &__title-wrapper {
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__title {
            display: grid;
            grid-template-columns: minmax(auto, 1440px);
            grid-auto-rows: auto;
            justify-items: center;
            font-size: 60px;
            color: variables.$white;
            background-color: rgba(38, 38, 38, 0.45);
            z-index: 2;
        }
        

        &__btn {
            display: block;
            margin: 0 auto;
        }
    }
    
}



@media screen and (max-width: 576px) {
    .promo {
        &__img {
            display: block;
            width: 300px;
            min-height: 250px;
        }

        &__wrapper {
            @include mixins.wrapper;
            display: block;
            min-height: 700px;
        }


        &__title-wrapper {
            margin-top: 150px;
            display: flex;
            flex-direction: column;
        }

        &__title {
            display: grid;
            grid-template-columns: minmax(auto, 1440px);
            grid-auto-rows: auto;
            justify-items: center;
            font-size: 40px;
            padding: 10px;
            text-align: center;
            color: variables.$white;
            background-color: rgba(38, 38, 38, 0.45);
            z-index: 2;
        }

    }
}