@use "../utils/mixins";
@use "../utils/variables";

.reasons {
    
    &__item {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-around;
    }

    &__list {
        list-style: none;
        padding: 10px;
    }

    &__heading {
        color:variables.$white;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    &__text {
        width: 280px;
        min-height: 100px;
        margin: 0 auto;
        padding-top: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        border-bottom: 3px solid variables.$dark-gray;
    }

    &__progress {
        width: 280px;
        min-height: 130px;
        padding-top: 60px;
        color: variables.$white;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
    }


}


@media screen and (max-width: 768px) {
    
    .reasons {
    
        &__item {
            margin-top: 100px;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
        }

        &__progress {
            width: 280px;
            min-height: 130px;
            margin: 0 auto;
            padding-top: 60px;
            padding-bottom: 50px;
            color: variables.$white;
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
        }

    }

}
