@use "../utils/variables";
@use "../utils/mixins";


.selling {
    @include mixins.wrapper;
    background-color: variables.$green;
    margin-top: -60px;
    min-height: 1500px;

    &__heading {
        color: variables.$white;
        font-size: 80px;
        font-weight: 400;
        text-align: center;
        padding-top: 80px;
        line-height: 104px;
    }

    &__form-wrapper {
        display: block;
        width: 700px;
        min-height: 400px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: variables.$white;
        border-radius: 10px;
    }

    &__form {
        display: grid;
        grid-template-columns: minmax(auto, 600px);
        grid-auto-rows: auto;
        grid-gap: 5px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__label {
        font-size: 20px;
        font-weight: 200;
        line-height: 31px;
        color: variables.$black;
    }

    &__input {
        border: 2px solid variables.$dark-gray;
        border-radius: 15px;
        min-height: 40px;
        margin-bottom: 15px;

        &::placeholder {
            padding-left: 10px;
        }
    }

    &__button {
        min-height: 60px;
        background-color: variables.$green;
        border: none;
        border-radius: 10px;
        color: variables.$white;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 52px;
        text-align: center;
    }

}

@media screen and (max-width:768px) {

    .selling {
        
    &__form-wrapper {
        display: block;
        width: 500px;
        min-height: 400px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: variables.$white;
        border-radius: 10px;
    }

    
    &__form {
        display: grid;
        grid-template-columns: minmax(auto, 600px);
        grid-auto-rows: auto;
        grid-gap: 5px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    }
    
}

@media screen and (max-width:576px) {

    .selling {

        &__heading {
            color: variables.$white;
            font-size: 60px;
            font-weight: 400;
            text-align: center;
            padding-top: 80px;
            line-height: 104px;
        }
        
    &__form-wrapper {
        display: block;
        width: 300px;
        min-height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: variables.$white;
        border-radius: 10px;
    }

    
    &__form {
        display: grid;
        grid-template-columns: minmax(auto, 600px);
        grid-auto-rows: auto;
        grid-gap: 5px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__label {
        font-size: 16px;
        font-weight: 200;
        line-height: 31px;
        color: variables.$black;
    }

    &__button {
        font-size: 20px;
    }

    }
    
}