@use "../utils/variables";
@use "../utils/mixins";

.service {
    &__wrapper {
        @include mixins.wrapper;
        padding-top: 40px;
        padding-bottom: 80px;
        min-height: 300px;
    }

    &__title {
        text-align: center;
        font-size: 40px;
        color: variables.$white;
    }

    &__item {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    &__list {
        list-style: none;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: block;
        width: 300px;
        min-height: 50px;
        color: variables.$dark-gray;
        background-color: variables.$white;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        padding-top: 20px;

        &:hover {
            color: variables.$white;
            background-color: variables.$white-for-hover;
        }
    }

}

@media screen and (max-width: 1000px) {
    .service {
        &__item {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: repeat(1, 400px);
            grid-row-gap: 100px;
        }
        &__list {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    
}

@media screen and (max-width: 576px) {
    .service {
        &__item {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: repeat(1, 400px);
            grid-row-gap: 100px
        }

    }
    
}