@use "../utils/variables";
@use "../utils/mixins";
@use "sass:color";

.socmedia {

    &__heading {
        color: color.scale(variables.$green, $lightness:30%) ;
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 31.5px;
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: space-around;
        margin-top: 45px;
    }

    &__list {
        list-style: none;
    }

}

