@page {
    size: A4;
    margin: 1cm;
}

@media print {

    *,
    *::before,
    *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

section {
    page-break-inside: avoid;
}

.header, .promo__btn, .about__picture, .connection, .footer, .about__btn {
    display: none;
}

.promo {
    margin-top: 10cm;
}

.promo__title {
    font-size: 78px;
}

.service__wrapper {
    margin-top: 2cm;
}

.service__title {
    font-size: 55px;
}

.service__link {
    text-decoration: underline;
}

.about__title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.about__information {
    font-size: 23px;
}

.advantage__heading {
    font-size: 29px;
}

.advantage__text {
    font-size: 18px;
}