*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body.noscroll {
  overflow: hidden;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #262626;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100px;
}
.header__hamb-wrapper {
  display: none;
}
.header__menu-disappear {
  display: none;
}

@media screen and (max-width: 992px) {
  .header__hamb-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 30px;
    cursor: pointer;
  }
  .header__menu-disappear {
    position: fixed;
    top: 90px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #262626;
    z-index: 10;
    display: flex;
    transition: 0.3s;
  }
  .header__menu-disappear.open {
    left: 0;
  }
  .header__item-popup {
    min-height: 400px;
    display: grid;
    grid-template-columns: 112px;
    grid-template-rows: repeat(autofit, minmax(45px, auto));
    grid-gap: 15px;
    justify-items: center;
  }
  .header__list-popup {
    list-style: none;
  }
  .header__link-popup {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #F8F9F3;
    text-align: center;
  }
  .header__link-popup:hover {
    color: #8b8b88;
  }
}
.logo__img {
  width: 70px;
  height: 100px;
  margin-top: 10px;
}
.logo__link {
  margin-top: 10px;
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .logo__link {
    margin-top: 10px;
    margin-left: 10px;
  }
}
.navigation__items {
  display: flex;
  margin-right: 44px;
}
.navigation__list {
  list-style: none;
  margin-top: 40px;
  margin-left: 40px;
}
.navigation__username {
  color: #F8F9F3;
}
.navigation__link, .navigation__link--enter {
  text-decoration: none;
  color: #F8F9F3;
  text-transform: uppercase;
}
.navigation__link--enter {
  background-color: #1D753F;
  color: #F8F9F3;
  padding: 7px;
  border-radius: 5px;
}
.navigation__link:hover, .navigation__link--enter:hover {
  color: #8b8b88;
}

@media screen and (max-width: 992px) {
  .navigation {
    display: none;
  }
}
.promo {
  margin-top: -22px;
}
.promo__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  min-height: 700px;
}
.promo__title-wrapper {
  position: absolute;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.promo__title {
  display: grid;
  grid-template-columns: minmax(auto, 1440px);
  grid-auto-rows: auto;
  justify-items: center;
  font-size: 70px;
  color: #F8F9F3;
  background-color: rgba(38, 38, 38, 0.45);
  z-index: 2;
}
.promo__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  justify-self: right;
  text-align: center;
  border-radius: 5px;
  color: #262626;
  font-size: 20px;
  text-decoration: none;
  padding-top: 20px;
  background-color: #F8F9F3;
  z-index: 2;
}
.promo__btn:hover {
  background-color: #262626;
  color: #F8F9F3;
}
.promo__img {
  position: relative;
  display: block;
  width: 508px;
  height: 600px;
}

@media screen and (max-width: 800px) {
  .promo__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 700px;
  }
  .promo__title-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .promo__title {
    display: grid;
    grid-template-columns: minmax(auto, 1440px);
    grid-auto-rows: auto;
    justify-items: center;
    font-size: 60px;
    color: #F8F9F3;
    background-color: rgba(38, 38, 38, 0.45);
    z-index: 2;
  }
  .promo__btn {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .promo__img {
    display: block;
    width: 300px;
    min-height: 250px;
  }
  .promo__wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: block;
    min-height: 700px;
  }
  .promo__title-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }
  .promo__title {
    display: grid;
    grid-template-columns: minmax(auto, 1440px);
    grid-auto-rows: auto;
    justify-items: center;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: #F8F9F3;
    background-color: rgba(38, 38, 38, 0.45);
    z-index: 2;
  }
}
.main__promo {
  background-color: #1D753F;
}

.main__service {
  background-color: #262626;
}

.main__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #1D753F;
  min-height: 400px;
}

.main__about-us {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #1D753F;
  min-height: 400px;
  margin-top: -23px;
}

.service__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  min-height: 300px;
}
.service__title {
  text-align: center;
  font-size: 40px;
  color: #F8F9F3;
}
.service__item {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.service__list {
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
.service__link {
  display: block;
  width: 300px;
  min-height: 50px;
  color: #262626;
  background-color: #F8F9F3;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.service__link:hover {
  color: #F8F9F3;
  background-color: #8b8b88;
}

@media screen and (max-width: 1000px) {
  .service__item {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(1, 400px);
    grid-row-gap: 100px;
  }
  .service__list {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 576px) {
  .service__item {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(1, 400px);
    grid-row-gap: 100px;
  }
}
.about {
  background-color: #1D753F;
}
.about__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}
.about__information-wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: dense;
  padding: 15px;
}
.about__title {
  color: #F8F9F3;
  font-size: 40px;
  font-weight: 400;
  padding-top: 80px;
}
.about__information {
  color: #F8F9F3;
  font-size: 18px;
}
.about__picture {
  padding: 15px;
}
.about__btn {
  text-decoration: none;
  border: 2px solid #262626;
  text-align: center;
  padding-top: 23px;
  border-radius: 30px;
  width: 200px;
  height: 45px;
  justify-self: right;
  color: black;
  border-radius: 5px;
}
.about__btn:hover {
  background-color: #8b8b88;
  border: none;
  color: #262626;
}

@media screen and (max-width: 992px) {
  .about__wrapper {
    display: flex;
    flex-direction: column;
  }
  .about__picture {
    display: grid;
    grid-template-columns: minmax(auto, 990px);
    grid-auto-rows: auto;
    justify-items: center;
  }
  .about__title {
    color: #F8F9F3;
    font-size: 50px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .about__information {
    color: #F8F9F3;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about__btn {
    text-decoration: none;
    border: 2px solid #262626;
    text-align: center;
    padding-top: 23px;
    border-radius: 30px;
    min-height: 45px;
    justify-self: right;
    color: #262626;
    border-radius: 5px;
  }
  .about__btn:hover {
    background-color: #8b8b88;
    border: none;
    color: #262626;
  }
}
@media screen and (max-width: 768px) {
  .about__picture {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .about__btn {
    margin: 0 auto;
  }
}
.advantage {
  display: flex;
  justify-content: space-around;
}
.advantage__list {
  list-style: none;
  border-left: 2px solid #262626;
  padding-left: 15px;
}
.advantage__heading {
  font-size: 24px;
  font-weight: 600;
  color: #F8F9F3;
}
.advantage__text {
  color: black;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .advantage {
    display: flex;
    flex-direction: column;
  }
  .advantage__list {
    list-style: none;
    border-left: none;
    border-top: 2px solid #262626;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
}
.connection {
  background-color: #262626;
}
.connection__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 80px;
}
.connection__text {
  margin-top: 20px;
  color: #F8F9F3;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(auto, 500px);
  grid-auto-rows: auto;
  grid-gap: 15px;
}
.connection__form {
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  grid-template-columns: minmax(auto, 500px);
  grid-gap: 15px;
}
.connection__label {
  color: #F8F9F3;
}
.connection__btn {
  background-color: #1D753F;
  border: none;
  border-radius: 5px;
  color: #F8F9F3;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.connection__socmedia {
  display: block;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .connection__wrapper {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  background-color: #262626;
}

.footer-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 200px;
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .footer-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 200px;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
.company-info__heading {
  color: #33cc6e;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.company-info__item {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.company-info__list {
  list-style: none;
  margin-top: 5px;
}

.company-info__link {
  text-decoration: none;
  color: #F8F9F3;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.company-info__link:hover {
  color: gray;
}

.features__heading {
  color: #33cc6e;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.features__item {
  margin-top: 10px;
  text-align: center;
}

.features__list {
  list-style: none;
  margin-top: 5px;
}

.features__link {
  text-decoration: none;
  color: #F8F9F3;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.features__link:hover {
  color: gray;
}

.resources__heading {
  color: #33cc6e;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.resources__item {
  margin-top: 10px;
  text-align: center;
}

.resources__list {
  list-style: none;
  margin-top: 5px;
}

.resources__link {
  text-decoration: none;
  color: #F8F9F3;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.resources__link:hover {
  color: gray;
}

.socmedia__heading {
  color: #33cc6e;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 31.5px;
  text-align: center;
}
.socmedia__item {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.socmedia__list {
  list-style: none;
}

.about-us__heading {
  color: #F8F9F3;
  font-size: 96px;
  font-weight: 400;
  margin-top: -23px;
  padding-top: 247px;
  text-align: right;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: minmax(auto, 917px);
  grid-template-rows: minmax(213px, auto);
  padding-left: 80px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .about-us__heading {
    color: #F8F9F3;
    font-size: 80px;
    font-weight: 400;
    margin-top: -23px;
    padding-top: 247px;
    text-align: right;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: minmax(auto, 917px);
    grid-template-rows: minmax(213px, auto);
    padding-left: 80px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .about-us__heading {
    color: #F8F9F3;
    font-size: 40px;
    font-weight: 400;
    margin-top: -23px;
    padding-top: 147px;
    text-align: right;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: minmax(auto, 917px);
    grid-template-rows: minmax(213px, auto);
    justify-items: center;
  }
}
.advantages__heading-wrapper {
  display: block;
  margin-top: 90px;
  margin-left: 75px;
  margin-right: 75px;
  border: 2px solid #272727;
}

.advantages__heading {
  font-size: 48px;
  font-weight: 400;
  color: #F8F9F3;
  padding-top: 58px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__heading-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  width: 768px;
  min-height: 90px;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  color: #272727;
}

@media screen and (max-width: 992px) {
  .advantages__heading-wrapper {
    margin-top: 90px;
    border: none;
  }
  .advantages__heading {
    font-size: 42px;
    font-weight: 500;
    color: #F8F9F3;
    padding-top: 60px;
    text-transform: uppercase;
    text-align: center;
  }
  .advantages__heading-text {
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    width: 520px;
    min-height: 90px;
    text-align: center;
    padding-top: 20px;
    padding-left: 0;
    margin: 0 auto;
    color: #272727;
  }
}
@media screen and (max-width: 576px) {
  .advantages__heading-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 200px;
    min-height: 90px;
    text-align: center;
    padding-top: 20px;
    padding-left: 0;
    margin: 0 auto;
    color: #272727;
  }
  .advantages__heading {
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 400;
    color: #F8F9F3;
    padding-top: 58px;
    width: 200px;
    min-height: 100px;
    text-transform: uppercase;
    text-align: center;
  }
}
.reasons__item {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}
.reasons__list {
  list-style: none;
  padding: 10px;
}
.reasons__heading {
  color: #F8F9F3;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.reasons__text {
  width: 280px;
  min-height: 100px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  border-bottom: 3px solid #262626;
}
.reasons__progress {
  width: 280px;
  min-height: 130px;
  padding-top: 60px;
  color: #F8F9F3;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .reasons__item {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  .reasons__progress {
    width: 280px;
    min-height: 130px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 50px;
    color: #F8F9F3;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
}
.mission {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #262626;
  margin-top: 80px;
  margin-bottom: 80px;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
}
.mission__picture {
  margin-top: 80px;
  margin-left: 100px;
  width: 379px;
  height: 482px;
}

@media screen and (max-width: 768px) {
  .mission__picture {
    display: none;
  }
}
.mission-description {
  margin-left: 30px;
}
.mission-description__heading {
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  color: #1D753F;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
}
.mission-description__text {
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
  color: #F8F9F3;
  display: grid;
  grid-template-columns: minmax(auto, 700px);
  grid-template-rows: mimax(265px, auto);
  grid-gap: 15px;
  margin-top: 50px;
}
.mission-description__link {
  display: grid;
  grid-template-columns: minmax(auto, 700px);
  grid-template-rows: minmax(45px, auto);
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: #1D753F;
  border-radius: 7px;
  text-decoration: none;
  color: #F8F9F3;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  padding-top: 18px;
}

.cooperation {
  display: flex;
  justify-content: space-between;
}
.cooperation__heading {
  font-size: 64px;
  font-weight: 400;
  color: #262626;
  margin-top: 50px;
  margin-left: 50px;
}
.cooperation__text {
  font-size: 21px;
  font-weight: 300;
  line-height: 31px;
  color: #F8F9F3;
  display: grid;
  grid-template-columns: minmax(auto, 590px);
  grid-template-rows: mimax(135px, auto);
  margin-top: 30px;
  margin-left: 50px;
}
.cooperation__item {
  margin-top: 64px;
  margin-left: 100px;
}
.cooperation__list {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.cooperation__list-reason {
  font-size: 20px;
  font-weight: 400;
  color: #262626;
  padding-top: 2px;
  margin-left: 7px;
}
.cooperation__img {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 500px;
  height: 300px;
  border: 3px solid #262626;
}

@media screen and (max-width: 992px) {
  .cooperation {
    flex-direction: column;
  }
  .cooperation__img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 500px;
    height: 300px;
    border: 3px solid #262626;
  }
}
@media screen and (max-width: 568px) {
  .cooperation__heading {
    font-size: 38px;
    padding: 5px;
    font-weight: 400;
    color: #262626;
    margin-top: 50px;
  }
  .cooperation__img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 300px;
    height: 200px;
    border: 3px solid #262626;
  }
}
.authentication {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #262626;
  min-height: 700px;
}
.authentication__heading {
  padding-top: 100px;
  color: #F8F9F3;
  text-transform: uppercase;
  text-align: center;
}
.authentication__back-link {
  color: #F8F9F3;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 30px;
}
.authentication__back-link:hover {
  color: #8b8b88;
}
.authentication__form-wrapper {
  display: block;
  width: 700px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #1D753F;
  border-radius: 15px;
}
.authentication__form {
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  grid-auto-rows: auto;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.authentication__form-label {
  color: #F8F9F3;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}
.authentication__form-control :invalid {
  border: 2px solid red;
}
.authentication__btn {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  color: #F8F9F3;
  display: grid;
  grid-template-columns: minmax(auto, 700px);
  grid-template-rows: minmax(40px, auto);
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  padding-top: 10px;
}
.authentication__logo {
  display: block;
  width: 100px;
  height: 130px;
  margin: 0 auto;
  margin-top: 30px;
}
.authentication__registration {
  color: #F8F9F3;
  font-size: 18px;
  font-weight: 200;
  line-height: 33px;
}
.authentication__registration-link {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
}
.authentication__registration-link:hover {
  color: #F8F9F3;
}

@media screen and (max-width: 768px) {
  .authentication__form-wrapper {
    display: block;
    width: 500px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #1D753F;
    border-radius: 15px;
  }
  .authentication__form {
    margin: 10px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .authentication__form-wrapper {
    display: block;
    width: 300px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #1D753F;
    border-radius: 15px;
  }
}
.registration {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #262626;
  min-height: 700px;
  padding-bottom: 80px;
}
.registration__heading {
  padding-top: 100px;
  color: #F8F9F3;
  text-transform: uppercase;
  text-align: center;
}
.registration__back-link {
  color: #F8F9F3;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 30px;
}
.registration__back-link:hover {
  color: #8b8b88;
}
.registration__form-wrapper {
  display: block;
  width: 700px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #1D753F;
  border-radius: 15px;
}
.registration__form {
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  grid-auto-rows: auto;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.registration__form-label {
  color: #F8F9F3;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}
.registration__form-control :invalid {
  border: 2px solid red;
}
.registration__btn {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  color: #F8F9F3;
  display: grid;
  grid-template-columns: minmax(auto, 700px);
  grid-template-rows: minmax(40px, auto);
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-transform: uppercase;
  padding-top: 10px;
}
.registration__logo {
  display: block;
  width: 100px;
  height: 130px;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .registration__form-wrapper {
    display: block;
    width: 500px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #1D753F;
    border-radius: 15px;
  }
  .registration__form {
    margin: 10px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .registration__form-wrapper {
    display: block;
    width: 300px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #1D753F;
    border-radius: 15px;
  }
}
.selling {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #1D753F;
  margin-top: -60px;
  min-height: 1500px;
}
.selling__heading {
  color: #F8F9F3;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  padding-top: 80px;
  line-height: 104px;
}
.selling__form-wrapper {
  display: block;
  width: 700px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #F8F9F3;
  border-radius: 10px;
}
.selling__form {
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  grid-auto-rows: auto;
  grid-gap: 5px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.selling__label {
  font-size: 20px;
  font-weight: 200;
  line-height: 31px;
  color: #272727;
}
.selling__input {
  border: 2px solid #262626;
  border-radius: 15px;
  min-height: 40px;
  margin-bottom: 15px;
}
.selling__input::-moz-placeholder {
  padding-left: 10px;
}
.selling__input:-ms-input-placeholder {
  padding-left: 10px;
}
.selling__input::placeholder {
  padding-left: 10px;
}
.selling__button {
  min-height: 60px;
  background-color: #1D753F;
  border: none;
  border-radius: 10px;
  color: #F8F9F3;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 52px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .selling__form-wrapper {
    display: block;
    width: 500px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #F8F9F3;
    border-radius: 10px;
  }
  .selling__form {
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    grid-auto-rows: auto;
    grid-gap: 5px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .selling__heading {
    color: #F8F9F3;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    padding-top: 80px;
    line-height: 104px;
  }
  .selling__form-wrapper {
    display: block;
    width: 300px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #F8F9F3;
    border-radius: 10px;
  }
  .selling__form {
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    grid-auto-rows: auto;
    grid-gap: 5px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .selling__label {
    font-size: 16px;
    font-weight: 200;
    line-height: 31px;
    color: #272727;
  }
  .selling__button {
    font-size: 20px;
  }
}
.main-catalog {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #262626;
  min-height: 500px;
  margin-top: -30px;
}
.main-catalog__header {
  color: #F8F9F3;
  font-size: 80px;
  font-weight: 400;
  margin-top: -30px;
  margin-left: 60px;
  padding-top: 50px;
}
.main-catalog__flats-wrapper {
  display: block;
  width: 700px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;
  background-color: #F8F9F3;
  border: 3px solid #1D753F;
}
.main-catalog__title {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: 400;
  line-height: 52px;
  color: #1D753F;
}
.main-catalog__bold-text {
  font-weight: 600;
  color: #262626;
  font-size: 16px;
  line-height: 20px;
}
.main-catalog__item {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 30px;
}
.main-catalog__list {
  margin-top: 10px;
  list-style: none;
}
.main-catalog__data {
  color: #1D753F;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.main-catalog__add {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 4px;
  padding-top: 7px;
  text-decoration: none;
  width: 100px;
  min-height: 30px;
  text-align: center;
  font-size: 18px;
  color: #F8F9F3;
  background-color: #1D753F;
  border-radius: 7px;
}

.hamb__bar {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #F8F9F3;
  margin: 6px auto;
}/*# sourceMappingURL=style.css.map */