{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <style>
        .about-us__promo {
        background-image: url("{% static 'img/aboutUs-background.jpg' %}");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 500px;
    }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scss/style.css'  %}">
    <script src="{% static 'js/main.js' %}"></script>
    <title>О нашей компании</title>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="header__logo logo">
                <a href="/" class="logo__link">
                    <img src="{% static 'img/logo.svg' %}" alt="logo" width="70" height="100" class="logo__img">
                </a>
            </div>
            <nav class="header__navigation navigation">
                <ul class="navigation__items" id="menu">
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "about" %}'>О Нас</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "catalog" %}'>Каталог</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "selling" %}'>Продать</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href="#contacts">Контакты</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="navigation__list">
                        <p class="navigation__username">Вы вошли как {{user.username}} </p>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link--enter" href='{% url "logout" %}'>Выйти</a>
                    </li>
                    {% else %}
                    <li class="navigation__list">
                        <a class="navigation__link--enter" href='{% url "authentication" %}'>Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="header__hamb-wrapper">
                <a href="#" class="header__hamb hamb" id="hamb">
                    <span class="hamb__bar"></span>
                    <span class="hamb__bar"></span>
                    <span class="hamb__bar"></span>
                </a>
            </div>
        </div>
        <div class="header__menu-disappear" id="popup">
            <ul class="header__item-popup">
                <li class="header__list-popup">
                    <a href='{% url "about" %}' class="header__link-popup">О нас</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "catalog" %}' class="header__link-popup">Каталог</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "selling" %}' class="header__link-popup">Продать</a>
                </li>
                <li class="header__list-popup">
                    <a href="#contacts" class="header__link-popup">Контакты</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "authentication" %}' class="header__link-popup">Войти</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="main__about-us about-us">
            <section class="about-us__promo">
                <h1 class="about-us__heading">
                    О нашей компании
                </h1>
            </section> 
            <section class="about-us__advantages advantages">
                <div class="advantages__heading-wrapper">
                    <h2 class="advantages__heading">
                        Почему эстет-недвижимость?
                    </h2>
                    <p class="advantages__heading-text">
                        Мы продаем квартиры в лучших жилых комплексах Москвы!
                    </p>
                </div>
                <div class="advantages__reasons reasons">
                    <ul class="reasons__item">
                        <li class="reasons__list">
                            <h3 class="reasons__heading">экспертность</h3>
                            <p class="reasons__text">Мы всегда точно знаем, что делать!</p>
                            <p class="reasons__progress">1 000+
                                премиальных жилых комплексов лично посетили наши брокеры, накапливая опыт и знания.
                            </p>
                        </li>
                        <li class="reasons__list">
                            <h3 class="reasons__heading">надежность</h3>
                            <p class="reasons__text">Нам доверяют самое дорогое.</p>
                            <p class="reasons__progress">
                                2 180 м2 - самая большая квартира в продаже.
                                2,6 млрд. р. - самая дорогая квартира в продаже.
                            </p>
                        </li>
                        <li class="reasons__list">
                            <h3 class="reasons__heading">скорость</h3>
                            <p class="reasons__text">Мы можем быть быстрыми.</p>
                            <p class="reasons__progress">
                                98 дней - средний срок поиска покупателя.
                                9 дней - самая быстрая продажа.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="about-us__mission mission">
                <img src="{% static 'img/aboutUs-mission.jpg' %}" alt="Картинка-пример квартир нашего агентсва." width="379" height="482" 
                class="mission__picture">
                <div class="mission__mission-description mission-description">
                    <h2 class="mission-description__heading">
                        Наша миссия
                    </h2>
                    <p class="mission-description__text">
                        Мы предлагаем покупателям, собственникам и застройщикам наиболее эффективные, простые 
                        и быстрые решения в сфере покупки и продажи объектов премиальной недвижимости.

                        Мы добиваемся этого с помощью самых современных технологий в области маркетинга, 
                        регулярного обучения наших экспертов, постоянного повышения профессиональных и этических стандартов.
                    </p>
                    <a href="#contacts" class="mission-description__link">Связаться с нами</a>
                </div>
            </section>
            <section class="about-us__cooperation cooperation">
                <div class="cooperation__information">
                    <h2 class="cooperation__heading">
                        Выгодное сотрудничество c ЭСТЕТ - недвижимость.
                    </h2>
                    <p class="cooperation__text">
                        Мы уверены, что всегда можно сделать лучше.
                        Поэтому свою работу мы строим на важных принципах:
                    </p>
                    <ul class="cooperation__item">
                        <li class="cooperation__list">
                            <img src="{% static 'img/star.svg' %}" alt="point" class="cooperation__list-img">
                            <p class="cooperation__list-reason">
                                Детали имеют значение
                            </p>
                        </li>
                        <li class="cooperation__list">
                            <img src="{% static 'img/star.svg' %}" alt="point" width="30" height="30" class="cooperation__list-img">
                            <p class="cooperation__list-reason">
                                Вместе мы можем больше
                            </p>
                        </li>
                        <li class="cooperation__list">
                            <img src="{% static 'img/star.svg' %}" alt="point" width="30" height="30" class="cooperation__list-img">
                            <p class="cooperation__list-reason">
                                Индивидуальный подход
                            </p>
                        </li>
                        <li class="cooperation__list">
                            <img src="{% static 'img/star.svg' %}" alt="point" width="30" height="30" class="cooperation__list-img">
                            <p class="cooperation__list-reason">
                                Профессиональная ответственность
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="cooperation__img-wrapper">
                    <img src="{% static 'img/aboutUs.jpg' %}" alt="Картинка-пример квартиры в блоке о выгодном сотрудничестве с нами." width="500" height="300" 
                    class="cooperation__img">
                </div>
            </section>
            <section id="contacts" class="main__connection connection">
                <div class="connection__wrapper">
                    <div class="connection__form-wrapper">
                        <p class="connection__text">Если у вас появились вопросы о нашей компании, оставьте свои данные, и наши специалисты
                            свяжуться с вами в течение часа.
                        </p>
                        <form method="post" class="connection__form">
                            {% csrf_token %}
                            {{form.user_name}}
                            {{form.user_phonenumber}}
                            <button type="submit" class="connection__btn">Отправить</button>
                        </form>
                    </div>
                    <div class="connection__socmedia socmedia">
                        <h2 class="socmedia__heading">Следите за нами в социальных сетях:</h2>
                        <ul class="socmedia__item">
                            <li class="socmedia__list">
                                <a href="#" class="socmedia__link">
                                    <img src="{% static 'img/instagram.svg' %}" width="70" height="60" alt="Ссылка на аккаунт нашего фгентства в Instagram" class="socmedia__logo">
                                </a>
                            </li>
                            <li class="socmedia__list">
                                <a href="#" class="socmedia__link">
                                    <img src="{% static 'img/telegram.svg' %}" width="70" height="60" alt="Ссылка на аккаунт нашего агентства в Telegram." class="socmedia__logo">
                                </a>
                            </li>
                            <li class="socmedia__list">
                                <a href="#" class="socmedia__link">
                                    <img src="{% static 'img/twitter.svg' %}" width="70" height="60" alt="Ссылка на страницу нашего агентства в Twitter." class="socmedia__logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="footer__company-info company-info">
                <h2 class="company-info__heading">
                    Информация о компании
                </h2>
                <ul class="company-info__item">
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">О нас</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Карьера</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Агенты</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="footer__features features">
                <h2 class="features__heading">
                    Особенности
                </h2>
                <ul class="features__item">
                    <li class="features__list">
                        <a href="#" class="features__link">Бизнес</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Наши клиенты</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Чат</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Поддержка</a>
                    </li>
                </ul>
            </div>
            <div class="footer__resources resources">
                <h2 class="resources__heading">
                    Ресурсы
                </h2>
                <ul class="resources__item">
                    <li class="resources__list">
                        <a href="#" class="resources__link">IOS&Android</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">Демо</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">Продавцы</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>