{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scss/style.css'  %}">
    <link rel="stylesheet" href="{% static 'scss/print.css'  %}">
    <title>ЭСТЕТ-недвижимость</title>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="header__logo logo">
                <a href="/" class="logo__link">
                    <img src="{% static 'img/logo.svg' %}" alt="logo" width="70" height="100" class="logo__img">
                </a>
            </div>
            <nav class="header__navigation navigation">
                <ul class="navigation__items" id="menu">
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "about" %}'>О Нас</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "catalog" %}'>Каталог</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "selling" %}'>Продать</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href="#contacts">Контакты</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="navigation__list">
                        <p class="navigation__username">Вы вошли как {{user.username}} </p>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link--enter" href='{% url "logout" %}'>Выйти</a>
                    </li>
                    {% else %}
                    <li class="navigation__list">
                        <a class="navigation__link--enter" href='{% url "authentication" %}'>Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="header__hamb-wrapper">
                <a href="#" class="header__hamb hamb" id="hamb">
                    <span class="hamb__bar"></span>
                    <span class="hamb__bar"></span>
                    <span class="hamb__bar"></span>
                </a>
            </div>
        </div>
        <div class="header__menu-disappear" id="popup">
            <ul class="header__item-popup">
                <li class="header__list-popup">
                    <a href='{% url "about" %}' class="header__link-popup">О нас</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "catalog" %}' class="header__link-popup">Каталог</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "selling" %}' class="header__link-popup">Продать</a>
                </li>
                <li class="header__list-popup">
                    <a href="#contacts" class="header__link-popup">Контакты</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "authentication" %}' class="header__link-popup">Войти</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <section class="main__promo promo">
            <div class="promo__wrapper">
                <div class="promo__title-wrapper">
                    <h1 class="promo__title">ЭСТЕТ-недвижимость</h1>
                    <a class="promo__btn" href="#main-about">Узнать о компании</a>
                </div>
                <picture class="promo__img">
                    <source media="(min-width: 769px)" srcset="{% static 'img/coverOfThePage.jpg' %}" width="500" height="572">
                    <source media="(max-width: 768px)"  srcset="{% static 'img/coverOfThePage-300.jpg' %}" width="320" height="508">
                    <img src="{% static 'img/coverOfThePage.jpg' %}" alt="Cover of our company.">
                </picture>
            </div>
        </section>
        <section class="main__service service">
            <div class="service__wrapper">
                <h2 class="service__title">Наши услуги</h2>
                <ul class="service__item">
                    <li class="service__list">
                        <img src="{% static 'img/cover1.jpg' %}" class="service__img" width="300" height="400" alt="Обложка для ссылки Продать квартиру.">
                        <a href='{% url "selling" %}' class="service__link">Продать квартиру</a>
                    </li>
                    <li class="service__list">
                        <img src="{% static 'img/cover2.jpg' %}" class="service__img" width="300" height="400" alt="Обложка для ссылки Купить квартиру.">
                        <a href='{% url "catalog" %}' class="service__link">Купить квартиру</a>
                    </li>
                    <li class="service__list">
                        <img src="{% static 'img/cover3.jpg' %}" class="service__img" width="300" height="400"  alt="Обложка для ссылки Каталог.">
                        <a href='{% url "catalog" %}' class="service__link">Каталог</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="main__about about" id="main-about">
            <div class="about__wrapper">
                <picture class="about__picture">
                    <source media="(min-width: 993px)" srcset="{% static 'img/flat-about.jpg' %}" width="400" height="500">
                    <source media="(max-width: 992px)"  srcset="{% static 'img/flat-about-horizontal.jpg' %}" width="700" height="300">
                    <img src="{% static 'img/flat-about.jpg' %}" alt="картинка-пример квартиры.">
                </picture>
                <div class="about__information-wrapper">
                    <h2 class="about__title">О нашей компании</h2>
                    <p class="about__information">
                        Компания «ЭСТЕТ-недвижимость» основана в 2012 году. 
                        Основными направлениями нашей деятельности являются продажа и 
                        покупка дорогостоящей жилой недвижимости Москвы.
                    </p>
                    <ul class="about__advantage advantage">
                        <li class="advantage__list">
                            <h3 class="advantage__heading">Опыт</h3>
                            <p class="advantage__text">
                                10 лет
                            </p>
                        </li>
                        <li class="advantage__list">
                            <h3 class="advantage__heading">Более</h3>
                            <p class="advantage__text">
                                300 сделок
                            </p>
                        </li>
                        <li class="advantage__list">
                            <h3 class="advantage__heading">Команда</h3>
                            <p class="advantage__text">
                                30 специалистов
                            </p>
                        </li>
                    </ul>
                    <p class="about__information">
                        Мы амбициозны и стабильны. Наша работа заключается в том, 
                        чтобы предложить нашим клиентам наиболее эффективный, 
                        простой и быстрый способ решения поставленной задачи, 
                        не потеряв по дороге смысл.
                    </p>
                    <a href='{% url "about" %}' class="about__btn">Узнать подробнее</a>
                </div>
            </div>
        </section>
        <section id="contacts" class="main__connection connection">
            <div class="connection__wrapper">
                <div class="connection__form-wrapper">
                    <p class="connection__text">Если у вас появились вопросы о нашей компании, оставьте свои данные, и наши специалисты
                        свяжуться с вами в течение часа.
                    </p>
                    <form method="post" class="connection__form">
                        {% csrf_token %}
                        {{form.user_name}}
                        {{form.user_phonenumber}}
                        <button type="submit" class="connection__btn">Отправить</button>
                    </form>
                </div>
                <div class="connection__socmedia socmedia">
                    <h2 class="socmedia__heading">Следите за нами в социальных сетях:</h2>
                    <ul class="socmedia__item">
                        <li class="socmedia__list">
                            <a href="#" class="socmedia__link">
                                <img src="{% static 'img/instagram.svg' %}" width="70" height="60" alt="Ссылка на аккаунт нашего фгентства в Instagram" class="socmedia__logo">
                            </a>
                        </li>
                        <li class="socmedia__list">
                            <a href="#" class="socmedia__link">
                                <img src="{% static 'img/telegram.svg' %}" width="70" height="60" alt="Ссылка на аккаунт нашего агентства в Telegram." class="socmedia__logo">
                            </a>
                        </li>
                        <li class="socmedia__list">
                            <a href="#" class="socmedia__link">
                                <img src="{% static 'img/twitter.svg' %}" width="70" height="60" alt="Ссылка на страницу нашего агентства в Twitter." class="socmedia__logo">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="footer__company-info company-info">
                <h2 class="company-info__heading">
                    Информация о компании
                </h2>
                <ul class="company-info__item">
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">О нас</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Карьера</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Агенты</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="footer__features features">
                <h2 class="features__heading">
                    Особенности
                </h2>
                <ul class="features__item">
                    <li class="features__list">
                        <a href="#" class="features__link">Бизнес</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Наши клиенты</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Чат</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Поддержка</a>
                    </li>
                </ul>
            </div>
            <div class="footer__resources resources">
                <h2 class="resources__heading">
                    Ресурсы
                </h2>
                <ul class="resources__item">
                    <li class="resources__list">
                        <a href="#" class="resources__link">IOS&Android</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">Демо</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">Продавцы</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>