{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scss/style.css'  %}">
    <script src="{% static 'js/main.js' %}"></script>
    <title>Продать квартиру</title>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="header__logo logo">
                <a href="/" class="logo__link">
                    <img src="{% static 'img/logo.svg' %}" alt="logo" width="70" height="100" class="logo__img">
                </a>
            </div>
            <nav class="header__navigation navigation">
                <ul class="navigation__items" id="menu">
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "about" %}'>О Нас</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "catalog" %}'>Каталог</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href='{% url "selling" %}'>Продать</a>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link" href="#contacts">Контакты</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="navigation__list">
                        <p class="navigation__username">Вы вошли как {{user.username}} </p>
                    </li>
                    <li class="navigation__list">
                        <a class="navigation__link--enter" href='{% url "logout" %}'>Выйти</a>
                    </li>
                    {% else %}
                    <li class="navigation__list">
                        <a class="navigation__link--enter" href='{% url "authentication" %}'>Войти</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="header__hamb-wrapper">
                <a href="#" class="header__hamb hamb" id="hamb">
                    <span class="hamb__bar"></span>
                    <span class="hamb__bar"></span>
                    <span class="hamb__bar"></span>
                </a>
            </div>
        </div>
        <div class="header__menu-disappear" id="popup">
            <ul class="header__item-popup">
                <li class="header__list-popup">
                    <a href='{% url "about" %}' class="header__link-popup">О нас</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "catalog" %}' class="header__link-popup">Каталог</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "selling" %}' class="header__link-popup">Продать</a>
                </li>
                <li class="header__list-popup">
                    <a href="#contacts" class="header__link-popup">Контакты</a>
                </li>
                <li class="header__list-popup">
                    <a href='{% url "authentication" %}' class="header__link-popup">Войти</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <section class="main__selling selling">
            <h1 class="selling__heading">Продать квартиру</h1>
            <div class="selling__form-wrapper">
                <form method="post" class="selling__form">
                    {% csrf_token %}
                    <label class="selling__label">Название улицы:</label>
                    {{ form.flat_street }}
                    <label class="selling__label">Номер дома:</label>
                    {{ form.building_number }}
                    <label class="selling__label">Описание квартиры: </label>
                    {{ form.flat_description }}
                    <label class="selling__label">Номер квартиры:</label>
                    {{ form.flat_number }}
                    <label class="selling__label">Общая площадь:</label>
                    {{ form.flat_size }}
                    <label class="selling__label">Этаж:</label>
                    {{ form.floor }}
                    <label class="selling__label">Количество комнат:</label>
                    {{ form.rooms }}
                    <label class="selling__label">Цена:</label>
                    {{ form.flat_cost }}
                    <label class="selling__label">E-mail продавца:</label>
                    {{ form.seller_email }}
                    <button class="selling__button" type="submit">Добавить</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="footer__company-info company-info">
                <h2 class="company-info__heading">
                    Информация о компании
                </h2>
                <ul class="company-info__item">
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">О нас</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Карьера</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Агенты</a>
                    </li>
                    <li class="company-info__list">
                        <a href="#" class="company-info__link">Блог</a>
                    </li>
                </ul>
            </div>
            <div class="footer__features features">
                <h2 class="features__heading">
                    Особенности
                </h2>
                <ul class="features__item">
                    <li class="features__list">
                        <a href="#" class="features__link">Бизнес</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Наши клиенты</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Чат</a>
                    </li>
                    <li class="features__list">
                        <a href="#" class="features__link">Поддержка</a>
                    </li>
                </ul>
            </div>
            <div class="footer__resources resources">
                <h2 class="resources__heading">
                    Ресурсы
                </h2>
                <ul class="resources__item">
                    <li class="resources__list">
                        <a href="#" class="resources__link">IOS&Android</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">Демо</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">Продавцы</a>
                    </li>
                    <li class="resources__list">
                        <a href="#" class="resources__link">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>